body {
    font-size: 14pt;
    font-family: 'Comfortaa', cursive;
}
#body {
    clear: both;
    margin: 0 auto;
    max-width: 1024px;
}
div {
	font-family: 'Comfortaa', cursive;
	font-weight:bold; 
	font-size:14pt; 
}
input {
	font-family: 'Comfortaa', cursive;
	font-weight:bold; 
	font-size:16pt; 
	width:70px ;
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(000,000,000, 1);
}
table {
    font-family: 'Comfortaa', cursive;
    font-size:12pt;
    border-collapse: collapse;
    border-spacing: 5px;
    margin-top: 1em;
    /*border: double #666666;*/
    margin-top:5px;
    padding: 10px 1px 10px 1px;
    background-color:#FFFFFF;
}
body td {
    padding:10px 1px 5px 1px;
}
table[id="temp"]{
	font-family: 'Comfortaa', cursive;
	font-weight:bold; 
	font-size:14pt; 
}
input[type="submit"] {
   border: 0 !important;  /*Removes border*/
   -webkit-appearance: none;  /*Removes default chrome and safari style*/
   -moz-appearance: none; /* Removes Default Firefox style*/
        /*background-color: #0088cc /*url(img/select-arrow.png) no-repeat 90% center;*/
        width: 100px; /*Width of select dropdown to give space for arrow image*/
        height:30px;
	text-indent: 0.01px; /* Removes default arrow from firefox*/
        text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
        color: #000;
        border-radius: 15px;
        padding: 1px;
        box-shadow: inset 0 0 5px rgba(000,000,000, 1);
	background-color:rgba(21,199,238,1); /* colore di sfondo    testo    */
	font-family: 'Comfortaa', cursive;
	font-size:0.8em;
	font-weight: bold;         /* testo in grassetto  */

}
input[type="submit"]:hover{
	background-color: #F3AC25;
}
caption {
  font-family: 'Comfortaa', cursive;
  font-size:16pt;
  text-align: center;
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(000,000,000, 1);
  /*border-style: solid;
  border-width: 1px;
  border-color: #666666;*/
  background-color:rgba(21,199,238,0.3);
}

img{
    height: 40px;
    width: 18px; 
}

td:nth-child(2n) {
    padding-right: 5px;
}
